.confirmation-header {
  margin-top: 0rem;
}

.reserve-header-text {
  font-size: 15px;
  text-align: center
}

.confirmation-image {
  height: 70vh; /* height of container */
  width: 100%;
  object-fit: cover;
}

.redirect-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12vh;

}

.redirect-button {
  background-color: #464646;
  color: white;
  padding: 2vh 2rem 2vh 2rem;
  border-radius: 0.5rem;
  min-width: 8vw;
  max-width: 10vw;
  font-family: "Karla";
  font-size: 16px;
  text-align: center;
  justify-self: center;
  text-decoration: none
}

.redirect-button:hover {
  background-color: #f4ce14;
  color: #464646;
  transition: 0.2s;
}
