.confirmation-header {
  margin-top: 0rem;
}

.reserve-header-text {
  font-size: 15px;
}

.confirmation-image {
  height: 70vh; /* height of container */
  width: 100%;
  object-fit: cover;
}

.redirect-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12vw;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.redirect-button {
  background-color: #464646;
  color: white !important;
  padding: 2vh 2rem 2vh 2rem;
  border-radius: 0.5rem;
  min-width: 12vw;
  font-family: "Karla";
  font-size: 18px;
}

.redirect-button:hover {
  background-color: #f4ce14;
  color: #464646 !important;
  transition: 0.2s;
}
