.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    padding-left: 3%;
    padding-right: 10%;
    padding-top: 2%;
    background-color: #495e57;
}

.footer-secondary-container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-content: center;
}

.text-style-footer{
    font-size: 12px;
    font-weight: normal;
}

.header-style{
    font-size: 15px
}