.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #495e57;
  width: 100%;
  height: 420px;
  margin-top: 2em;
  align-content: center;
  justify-content: center;
  
}

.main-content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 35%;
    padding-right: 25%;
    height: 280px;
    align-self: center;
    justify-self: center;
  }

.main-content  h1 {
  color: #f4ce14;
  font-family: "Karla", sans-serif;
  }

.main-content  h4 {
    color: white;
    font-family: "Karla", sans-serif;
    margin: 0;
  }

.grid-div{
    max-height:420px;
    max-width: 0px;
    
  }

  .img {
    
    border-radius: 12px;
    height: 110%;
    padding-left: 20%;
  }

  .text-style{
    font-size: 14px;
    font-weight: normal;
    color: white;
}

.button{
  background-color: #f4ce14;
  color: #000;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 14px;
  width: 12em;
  height: 3em;
  margin: 1em;
  border-radius: 2em;
  border: none;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}