.highlights-container{
    margin-top: 5vh;
}


.highlights-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3%;
    
  }

.highlights-header h3{
    padding-left: 30%;
    padding-top: 2%;
    font-family: "Karla", sans-serif;
    font-weight: 800;
}

.highlights-header button{
  background-color: #f4ce14;
  color: #000;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 14px;
  width: 12em;
  height: 3em;
  margin: 2em;
  border-radius: 2em;
  border: none;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}   

  .highlights-cards{
    display: flex;
    width: 100%;
    padding-top: 3%;
    
  }

  .highlights-button{
    background-color: #f4ce14;
    color: #000;
    border-radius: 2em;
    
  }

  .highlights-cards-col{
    flex: 1;
    padding-left: 8%;
    padding-right: 8%;
  }

  .img-highlights {
    border-radius: 12px;
    height: 150px;
    margin-left: 15%;
  }

  @media (max-width:801px){
    .highlights-cards{
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      width: 50%;
      padding-top: 3%;
      padding-left: 25%;
      
    }

    .img-highlights {
      border-radius: 12px;
      height: 150px;
      margin-left: 15%;
      padding-top:5%
    }

  }