.ul-container {
  padding-left: 0;
}

.nav-item-veritcal {
  list-style: none;
  padding-left: 0%;
  padding-bottom: 1%;
  padding-right: 3%;
  font-size: 10px;
  display: grid;
  align-content: left;
  justify-content: left;
}

.link {
  text-decoration: none;
  list-style: none;
  color: #000;
}

.link:visited {
  color: #000;
}
